<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCRhOlDC-rZC3wpEHaRF937l2VaLqm1-c</string>
	<key>GCM_SENDER_ID</key>
	<string>707557849256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trandat.assigntask</string>
	<key>PROJECT_ID</key>
	<string>assigntaskrn</string>
	<key>STORAGE_BUCKET</key>
	<string>assigntaskrn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707557849256:ios:a9fe4cf0e73e206f8c2a9d</string>
</dict>
</plist>